@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */

html {
    font-size: 62.5%;
}

body {
    background: #FFF;
    background-size: cover;
    color: #000;
    text-align: left;
    font-size: 1.4rem;
    font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* --------------------------------
 * parts
 * -------------------------------- */

.header-fix {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: #FFF;
    box-shadow: 0 2px 1px gray;
    font-size: 2rem;
    z-index: 100;
}

.header-box {
    width: 768px;
    height: 100%;
    margin: auto;
    padding: 5px 0;
    background-color: #FFF;
    display: flex;
    align-items: center;
}

.header-item {
    margin: 0 10px;
    padding: 0.5%;
    border: solid;
    border-width: 1px;
    border-color: #FFF;
    border-radius: 10px;
}

.header-item:hover {
    border-color: #ebebeb;
}

.container {
    width: 768px;
    margin: auto;
    margin-top: 50px;
    padding: 5px 15px;
}

.blog-box {
    /*display: inline-block;*/
    width: 100%;
    background: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding: 5px 5px;
    border: solid;
    border-width: 1px;
    border-color: #ebebeb;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.blog-box:hover {
    background: #f7f7f7;
}

.blog-title {
    width: 70%;
    float: left;
    font-size: 2rem;
    word-wrap: break-word;
}

.blog-date {
    width: 30%;
    float: right;
    text-align: right;
    font-size: 1.5rem;
}

.youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
  .youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

.header {
    position: relative;
    display: inline-block;
    width: 90%;
    margin: 0% 5%;
    padding-bottom: 0px;
    color: #000;
}

.header::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #000;
}




/* --------------------------------
 * smart phone
 * -------------------------------- */

@media (max-width: 1080px) {
    body {
        font-size: 1.3rem;
    }
    .header-fix {
        /*height: 80px;
        font-size: 3rem;*/
    }
    .header-box {
        width: 90%
    }
    .container {
        width: 100%;
        margin: 0 0 5px;
        margin-top: 40px;
    }
    .blog-title {
        /*font-size: 3rem;*/
    }
    .blog-date {
        /*font-size: 2rem;*/
    }
    .blog-abst {
        font-size: 1.3rem;
    }
}
