@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */

html {
    font-size: 62.5%;
}

body {
    background-size: cover;
    color: #000;
    text-align: center;
    font-size: 1.4rem;
    font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* --------------------------------
 * parts
 * -------------------------------- */

.header {
    color: #000;
}

.container {
    padding: 50px 10px;
    background: #FFF;
}

.paper-box {
    display: inline-block;
    width: 600px;
    background: #FFF;
    margin: 10px;
    /border: solid;
    /border-width: 1px;
    /border-color: #ebebeb;
    /border-radius: 10px;
}


/*.blog-box:hover {
    background: #f7f7f7;
}*/

.paper-title {
    font-size: 2rem;
    margin-bottom: 5px;
    /margin-left: 5px;
    /margin-right: 5px;
}

.paper-thum:hover {
    opacity: 0.8;
}

.paper-date {
    text-align: right;
    margin-top: 0;
}

.footer {
    padding: 12px 0;
    font-size: 1.3rem;
}


/* --------------------------------
 * smart phone
 * -------------------------------- */

@media (max-width: 768px) {
    body {
        font-size: 1.3rem;
    }
    .blog-box {
        width: 90%;
        margin: 0 5% 5px;
    }
    .blog-title {
        font-size: 1.5rem;
    }
    .blog-abst {
        font-size: 1.3rem;
    }
}
